*{
    margin: 0%;
    padding: 0%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-sizing: border-box;
}
body{
    background: #456753;
}
.main-box{
    background: #ffffff;
    width: 90%;
    max-width: 600px;
    margin: 47px auto 0;
    border-radius: 10px;
    padding:30px;
}
h1{
    font-size: 50px;
    font-weight: 200;
    border-bottom: 2px solid black;
    padding: 20px;
}
box-2{
    padding: 20px 0;
}
h2{
    font-size: 30px;
    font-weight: 100;
}
.answers{
   size: 20px;
   background: #ffffff;
   color: black; 
   padding: 10px;
   margin: 9px;
   width: 100%;
   border-radius: 10px;
   cursor: pointer;
   transition: all 0.3s;
}
.answers:hover{
    background: #222;
    color: #fff;
}
.next{
    background:#456753;;
    color:#222;
    margin: 20px auto 0;
    padding: 10px;
   width: 150px;
   border-radius: 10px;
   cursor: pointer;
   display: none;
}